@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

html,
body {
  padding: 0;
  margin: 0;
}

.normalized-prose p:first-child {
  margin-top: 0;
}

.normalized-prose p {
  margin-top: .5em;
  margin-bottom: .5em;
}
