@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typography.css";

html, body, #___gatsby, #gatsby-focus-wrapper {
  height: 100%;
}

[fill="rgb(0,0,0)"] {
  fill: transparent;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cover-wrapper {
   box-shadow: rgb(0 0 0 / 15%) 0px 1.1px 1.5px, rgb(0 0 0 / 10%) 0px 2.8px 3.9px, rgb(0 0 0 / 8%) 0px 5.8px 7.9px,
     rgb(0 0 0 / 6%) 0px 12.0455px 16.4px, rgb(0 0 0 / 4%) 0px 33px 45px;
}

.cover-after::after {
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.118) 0.65%,
    rgba(255, 255, 255, 0.2) 1.53%,
    rgba(255, 255, 255, 0.1) 2.38%,
    rgba(0, 0, 0, 0.05) 3.26%,
    rgba(255, 255, 255, 0.14) 5.68%,
    rgba(244, 244, 244, 0) 6.96%
  );
}