@font-face {
  font-family: "iAWriterDuospace";
  font-display: fallback;
  src: url("../fonts/iA-Writer-Duospace/Webfonts/iAWriterDuospace-Regular.woff2") format("woff2"),
       url("../fonts/iA-Writer-Duospace/Webfonts/iAWriterDuospace-Regular.woff") format("woff");
}

@font-face {
  font-family: "iAWriterDuospaceBold";
  font-display: fallback;
  font-weight: bold;
  src: url("../fonts/iA-Writer-Duospace/Webfonts/iAWriterDuospace-Bold.woff2") format("woff2"),
       url("../fonts/iA-Writer-Duospace/Webfonts/iAWriterDuospace-Bold.woff") format("woff");
}
