@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto+Mono:wght@200;300;400&display=swap');

@font-face {
  font-family: "iAWriterDuospace";
  font-display: fallback;
  src: url("../fonts/iA-Writer-Duospace/Webfonts/iAWriterDuospace-Regular.woff2") format("woff2"),
       url("../fonts/iA-Writer-Duospace/Webfonts/iAWriterDuospace-Regular.woff") format("woff");
}

@font-face {
  font-family: "iAWriterDuospaceBold";
  font-display: fallback;
  font-weight: bold;
  src: url("../fonts/iA-Writer-Duospace/Webfonts/iAWriterDuospace-Bold.woff2") format("woff2"),
       url("../fonts/iA-Writer-Duospace/Webfonts/iAWriterDuospace-Bold.woff") format("woff");
}


@font-face {
  font-family: 'Sentient-Variable';
  src: url('../fonts/sentient/Sentient-Variable.woff2') format('woff2'),
       url('../fonts/sentient/Sentient-Variable.woff') format('woff'),
       url('../fonts/sentient/Sentient-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}